@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.cdnfonts.com/css/techno-board');

.aboutme {
  background-image: url(/image/aboutme.jpg);
  position: relative;
  width: 53vw;
  text-align: center;
  height: 31vw;
  color: #64d6e6;
  font-size: 1vw;
  margin-left: 2vw;
  margin-top: 11vw;
  font-family:'Tilt Neon';
  text-shadow:5px -8px 0px #19191a;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;    
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

  h2 {
    word-spacing: 0.3vw;
    letter-spacing: 0.4vw;
    color: #64d6e6;
    font-size: 1.4vw;
    font-family: "Techno Board", Courier;
    text-shadow:3px -3px 0px #19191a;
  }
  h3 {
    word-spacing: 0.3vw;
    letter-spacing: 0.4vw;
    color: #64d6e6;
    font-size: 1.5vw;
    font-family: "Techno Board", Courier;
    text-shadow:3px -3px 0px #19191a;
  }

 button {
    border: 1px solid #696969;
    color: #64d6e6;
    height: 3.3vw;
    width: 10vw;
    font-size: 1.5vw;
    margin-left: 1vw;
    background-color: #1b3047e3;
 }  
  button:hover, button:active {
    background-color: r#1b3047e3;
    color: white;
  }      
  img {
    float: right;
    width:12vw;
    height:16vw;
    border: 3px solid #81bafc;
    animation: element 5s infinite;  
  }

  @keyframes element {
    0% {
      border-color: #80e4e7;
    }
    25% {
      border-color: #93bcf8;
    }
    50% {
        border-color: #99e4c1;
    }
    75% {
      border-color: #475581;
    }
    100% {
        border-color: #bc97f7;
    }
  } 
#one {
  margin-right: 2vw;
  transform: translateY(-40vw);
}
#one:hover {
  transform: scale(1.5)
  translateY(-27vw);
  transition: 1s;
}
#two {
  transform: translateY(-19vw)
}
#two:hover {
  transform: scale(1.5)
  translateY(-11.5vw);
  transition: 1s;  
}
#three {
  transform: translateY(-40vw);
}
#three:hover {
  transform: scale(1.5)
  translateY(-27vw);
  transition: 1s;
}
/******S phone*******/
@media only screen and (orientation:portrait) {  
  .wholescreen {
    height: 340vw;
  }
  .aboutme {
    background: none;
    width: 85vw;
    text-align: center;
    height: 142vw;
    color: #77e9e9;
    font-size: 5vw;
    margin-left: 9vw;
    text-shadow:2px -2px 0px #19191a;
}
h2 {
    color: #77e9e9;
    font-size: 5vw;
    margin-top: 4vw;
  }
  h3 {
    color: #77e9e9;
    font-size: 4vw;
  }

 button {
    color: #77e9e9;
    height: 9vw;
    width: 19vw;
    font-size: 3vw;
    margin-left: 1vw;
    text-shadow:2px -2px 0px #19191a;
    background-color: #1b3047e3;
 }  

  img {
    float: right;
    width:28vw;
    height:39vw;
  } 
#one {
  margin-right: 3vw;
  transform: translateY(80vw);
}

#two {
  margin-right: 5vw;
  transform: translateY(80vw)
}

#three {
  margin-right: 5vw;
  transform: translateY(80vw);
}
}

/********M phone******/
@media only screen and (min-width:321px) and (max-width:375px) {

}

/******tablet*******/
@media only screen and (min-width:426px) and (max-width:768px) {
  .wholescreen {
    height: 150vw;
  }
  .aboutme {
    background-image: url(/image/aboutmeT.jpg);
    position: relative;
    width: 95.5vw;
    text-align: center;
    height: 56vw;
    color: #64d6e6;
    font-size: 2vw;
    margin-left: 2vw;
    margin-top: 11vw;
    text-shadow:3px -3px 0px #19191a;
}
.about {
  width: 84vw;
  margin-left: 5.5vw;
}
h2 {
  color: #77e9e9;
  font-size: 2.5vw;
  margin-top: 1vw;
}
h3 {
  color: #77e9e9;
  font-size: 2vw;
}

button {
  color: #77e9e9;
  height: 4vw;
  border: 2px solid;
  width: 19vw;
  font-size: 2.5vw;
  margin-left: 1vw;
  text-shadow:1px -2px 0px #19191a;
  background-color: #1b3047e3;
}
img {
  float: right;
  width:28vw;
  height:39vw;
} 
#one {
margin-right: 3vw;
transform: translateY(10vw);
}

#two {
margin-right: 5vw;
transform: translateY(10vw)
}

#three {
margin-right: 5vw;
transform: translateY(10vw);
}
}
/******laptop*******/
@media only screen and (min-width:769px) and (max-width:1024px) {
  
  .wholescreen {
    height: 10vw;
  }
  .aboutme {
    height: 36vw;
    width: 59vw;
    font-size: 1.2vw;
    text-shadow:2px -2px 0px #19191a;
    transform: translateY(-5vw);
  }
  .about {
    width: 50vw;
    margin-left: 5vw;
  }
  h2 {
    color: #54c5c5;
    word-spacing: 0.3vw;
    letter-spacing: 0.3vw;
    font-size: 1,7vw;
    margin-top: 1vw;
    text-shadow:3px -3px 0px #19191a;
  }
  h3 {
    color: #54c5c5;
    word-spacing: 0.3vw;
    letter-spacing: 0.3vw;
    font-size: 1.5vw;
    text-shadow:3px -3px 0px #19191a;
  }
}